.title {
  font-size: 45px;
  color: var(--background-color);
}
.title.dark {
  color: var(--primary-color);
}

@media (max-width: 1500px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  .title {
    font-size: 30px;
  }
}
