.footer {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}
.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 10px;
}
.title {
  color: white;
  font-size: 22px;
}
.phoneItem {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.phoneItem:hover {
  transform: scale(1.05);
}
.phoneItem:hover p {
  font-weight: 400;
}

@media (max-width: 1200px) {
  .footer {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
  }
}
@media (max-width: 750px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
  .itemsContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
}
