.background {
  background-image: url("../../assets/BackgroundImage2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  min-height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  opacity: 0.85;
  padding: 80px 100px 80px 150px;
}
.logoAndContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.featureItemsContainer {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 10px;
  align-items: center;
  justify-content: start;
  width: 80%;
}

.logoImage {
  width: 35%;
  /* max-width: !! ; */
}

.contentContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contentContainer .title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
}

.aboutContent {
  color: var(--background-color);
  width: 100%;
}

@media (max-width: 1300px) {
  .container {
    padding: 70px;
  }

  .contentContainer .title {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .aboutContent {
    font-size: 14px;
  }
}
@media (max-width: 1115px) {
  .featureItemsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .contentContainer {
    width: 55%;
  }
  .contentContainer .title {
    font-size: 25px;
  }
  .aboutContent {
    font-size: 13px;
  }
}

@media (max-width: 750px) {
  .container {
    padding: 30px;
  }
  .contentContainer {
    width: 80%;
  }
  .logoAndContent {
    flex-direction: column;
    justify-content: center;
  }
  .logoImage {
    margin-bottom: 40px;
    width: 40%;
  }
  .contentContainer .title {
    margin-bottom: 20px;
  }
}
@media (max-width: 695px) {
  .featureItemsContainer {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .contentContainer {
    width: 95%;
  }
  .contentContainer .title {
    font-size: 19px;
  }
  .aboutContent {
    font-size: 12px;
  }
}
