.background {
  height: 70dvh;
  background-image: url("../../assets/BackgroundImage2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  opacity: 0.85;
  padding: 0 150px;
}

.logoImage {
  width: 35%;
  /* max-width: !! ; */
}

.contentContainer {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title {
  margin-bottom: 50px;
  font-size: 37px;
  font-weight: 500;
}
.aboutContent {
  color: var(--background-color);
  width: 80%;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 70px;
  }

  .contentContainer {
    width: 100%;
  }
  .title {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .aboutContent {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding-right: 0px;
  }
  .title {
    font-size: 25px;
  }
  .aboutContent {
    font-size: 13px;
  }
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .logoImage {
    margin-bottom: 40px;
    width: 40%;
  }
  .title {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 23px;
  }
  .aboutContent {
    font-size: 12px;
  }
}
