.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 15px;
  /* padding: 3px 5px; */
}
.icon {
  color: var(--secondary-color);
  margin-right: 10px;
}
.text {
  color: var(--background-color);
  font-weight: 500;
  opacity: 1;
}

@media (max-width: 1350px) {
  .icon {
    color: var(--secondary-color);
    margin-right: 10px;
  }
  .text {
    font-size: 13px;
  }
}
@media (max-width: 435px) {
  .icon {
    font-size: 13px;
  }
  .text {
    font-size: 11px;
  }
}
