.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer label {
  color: var(--primary-color);
  font-weight: 300;
}
.inputContainer input,
.inputContainer textarea {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  height: 45px;
  width: 100% !important;
  resize: none;
  padding-left: 10px;
}

.inputContainer textarea {
  padding-top: 10px;
  height: 100px;
}

.inputContainer input:focus,
.inputContainer textarea:focus {
  border: none;
  outline: 1px solid var(--secondary-color);
}

.errorMsg {
  color: red;
  font-size: 14px;
  font-weight: 300;
  bottom: -20px;
}

@media (max-width: 550px) {
  .inputContainer label {
    font-size: 14px;
  }
  .inputContainer input {
    height: 35px;
  }
  .errorMsg {
    font-size: 11px;
  }
}
