.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  top: 0;
  opacity: 1;
  z-index: 10;
  transition: transform 0.3s ease;
  padding: 0 50px;
  background-color: var(--primary-color);
  min-height: 100px;
}
.logoContainer {
}
.logo {
  height: 90px;
  object-fit: cover;
}
.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}
.link {
  color: var(--background-color);
  cursor: pointer;
  text-decoration: none;
  font-weight: 300;
}
.link:hover {
  color: var(--secondary-color);
  transform: scale(1.05);
}
.hamburgerContainer {
  display: none;
}

@media (max-width: 750px) {
  .linksContainer {
    display: none;
  }
  .hamburgerContainer {
    display: inline-block;
  }
}

@media (max-width: 550px) {
  .navbar {
    padding: 0 25px;
  }
}
